<div class="nested-fields">
  <%= f. text_field :description, class:"form-control form-control-user" %>
  <%= f. check_box :correct %> Correta?
  <%= link_to_remove_association 'Remove', f %>
</div>

